<div id="list_faq">
  <section>
    <question>
      Can I make a list?
      <answer>
        Any magician can make a list (when they are logged in).
      </answer>
    </question>
  
    <question>
      What does magician mean?
      <answer>
        Anyone who has purchased the book is a magician.
      </answer>
    </question>
  
    <question>
      What if I received it as a gift?
      <answer>
        Then you are a muggle.  Become a magician by buying a copy for your friends and family.  Then you can make lists!
      </answer>
    </question>
  
    <question>
      How can I log in?
      <answer>
        If your Facebook email is the same as the email where you received the book, the easiest way to log in is to click "Sign in with Facebook".  Otherwise, if you are a muggle you received a password in your inbox, and if you are a magician you received a link to the confirmation page, which allows you to set your password.
      </answer>
    </question>
  
    <question>
      How can I format the list?
      <answer>
        List designations and expressions both allow Markdown formatting.  Markdown is a form of HTML that is more human-readable.  With Markdown, you can do everything that HTML can do, but you don't need to break up your content with tags.
      </answer>
    </question>
  
    <question>
      What are the list modes?
      <answer>
        Randomized lists will appear in a random order every time they are viewed.  Ordered lists will appear in their set order, and Numbered lists will appear in their order with numbers next to each item in the list.
      </answer>
    </question>
  
  </section>
</div>