<div id="lists">
  <% @lists.each do |list| %>
    <%= div_for list do %>
      <%= link_to list.name, list %>
      <%= publish_controls_for list %>
    <% end %>
  <% end %>
  <%= begin_list_link %>
</div>
