<% if @note.present? %>
  <p>
    <%= @note %>
  </p>
  ---------------
<% end %>

<p>
  I hope you enjoy this e-book and get a kick out of the world's greatest game (Magic).
</p>

<p>
  You have access to all future updates of the book, which are published every Wednesday.
</p>

<p>
  Thank you for supporting Ways We Mage.  If and when you would like to write a book, contact us.
</p>

<p>
  -Mikey Microphone
</p>

<p>
  wayswemage.com
</p>
