<p>
  Thank you very much for your purchase!  I hope you enjoy the ebook and get a kick out of the world's greatest game (Magic).
</p>

<p>
  Your purchase includes a license to gift this book to four muggles.  You may have already entered some.  If you want to add more, be sure to return to this page within the next 72 hours: <%= invite_muggles_url :purchase_id => @purchase.id %>
</p>

<p>
  Your purchase also ensures access for you and your four muggles to all future updates of the book.  Updates are published every Wednesday.
</p>

<p>
  Last but not least, you can make lists.  They can be public, or just for your muggles.
</p>

<p>
  Thank you for supporting Ways We Mage.  If and when you would like to write a book, contact us.
</p>

<p>
  -Mikey Microphone
</p>
