<p>
  Thank you very much for your purchase!  I hope you enjoy the ebook and get a kick out of the world's greatest game (Magic).
</p>

<p>
  Your purchase includes a license to gift this book to four other people.
</p>

<p>
  -Mikey Microphone
</p>
