<p>
  Thank you very much for your willingness to look at this book.  I hope you enjoy it and send me your feecback.
</p>

<p>
  Your opportunity includes a license to gift this book to four muggles.  If you want to, be sure to visit this page within the next 72 hours: <%= link_to 'invite muggles', invite_muggles_url(:purchase_id => @purchase.id, :auth_token => @magician.authentication_token) %>
</p>

<p>
  Your account also ensures access for you and your four muggles to all future updates of the book.  Updates are published every Wednesday.
</p>

<p>
  Last but not least, you can make lists.  They can be public, or just for your muggles.
</p>

<p>
  Thank you for supporting Ways We Mage.  If and when you would like to write a book, contact us.
</p>

<p>
  -Mikey Microphone
</p>
