<section id="homepage">
  <section>
    <section>
      Magic is frequently ranked as the world's *best* game not just because it is fun or stimulating, but because the players who are best at it are able to prevail consistently, largely irrespective of what cards are available that year, or how many brilliant opponents they have to deconstruct along the way.
    </section>
  
    <section>
      This shows that, notwithstanding the luck of the draw, these puzzles have a solution, and if you can cultivate the skills to perceive which advantages are slightly better than the rest, you can gain an edge, no matter what.
    </section>
  </section>

  <section>
    <section>
      This is what makes finding the solution so much fun.  And, many of those skills can probably be applied to other areas of your life, perhaps areas where you have been planning to gain an edge.
    </section>
  
    <section>
      I always felt that being good at running made me better at everything that I do.  My hope for you is that improving your base skills like mental math, memorization, reading comprehension, financial acuity, and graciousness will make you better at everything that you do - and I can't wait to see what that will be!
    </section>
  </section>

  <section>
    <section>
      Magic taught me a lot about how to not be a sore loser, and to agree that my shortcomings in the tournaments were not due to a fault of anyone else, but stemmed from some mildly silly ideas that I was clinging to.
    </section>
  
    <section>
      For a lot of young people, it has long been a safe and expansive way to begin mastering their social skills and comfort, while getting significant practice in math, reading, and logic.
    </section>
  </section>

  <section>
    <section>
      In Magic, you benefit from having things, improving them, you benefit when they are ready to go, and from your experience that tells you what to expect, perhaps enabling you to avoid certain outcomes.  But, the biggest boosts often result from sacrificing one of the things you have.
    </section>
  
    <section>
      This might sound familiar, whether you are fretting over a bad habit, or perhaps just one that you have outgrown.  You can manage your resources better when you accept that there are pretty firm limits on how much time, motivation, and clout you have - before some really potent frames of your life completely slip away.
    </section>
  </section>

  <section>
    <section>
      But this isn't life coaching, it's a very relaxed practice of skill coaching, which we make easier by taking advantage of a rich context of clever relationships, laid out for us by tens of thousands of diligent Americans who have made the answers available to all.
    </section>
  
    <section>
      They volunteer to do that work because it is fun, and we will strive to provoke trends that make Magic even more enjoyed, more relaxed, and accessible to more people.  In a game that isn't ever decided by a referee blowing a whistle, everybody tends to root for each other's success, which is definitely a nice change of pace from the sad and desperate stories in our world.
    </section>
  </section>
	
  <section>
    <section>
      For this first season of Magic Coaching, I am offering a weekly 15-minute call wherein I will challenge you to complete a certain set of tasks, such as analyzing the top three decks of the week, designing a deck that fits certain parameters, or simply engaging with a piece of online content until you feel you understand what is being argued.
    </section>
  
    <section>
      In this fashion you will rapidly cultivate your basic everyday skills and discipline, you will gradually get closer to a competitive level of skill, and you will probably be exposed to a vibrant local community, as well as a tight global network with dozens of gleeful subcultures.  I'll use my epic familiarity with the culture to steer you in ways that will shortcut the stagnation and overwhelm that you would experience by going it alone.
    </section>
  </section>
	
  <section>
    <section>
			Your contribution will be just $20 per week, and you can decide if you also want to purchase cards and dedicate time to competition, since there are endless options that are totally free, or close to it.
    </section>
  
    <section>
			There is no commitment, and if you like you can have your first call for just $5, as my thanks for being a part of this new program and kickstarting the inventory of Spellbinding Challenges.
	  </section>
	</section>
</section>
<% content_for :open_graph do %>
  <%= open_graph_tags %>
<% end %>
