<section class="policy">
  <section class="privacy">
    <header>
      Ways We Mage - Data Deletion Policy
    </header>
    
    <section>
      We respect your privacy.  We appreciate any information you choose to share with us, and we intend to use it solely in ways that you approve of.
    </section>

    <section>
      If you wish for your personal data and your account to be deleted, we can do so at your request.
    </section>

    <section>
      To request data deletion, send an email to our data privacy officer.  <%= mail_to 'mike@alphabetix.world' %>
    </section>
  </section>
</section>
