<% selected_fonts.each do |font| %>
  <div style="font-family: '<%= font %>';">
    <%= font %>: = >   
    Pappolidge farnicola est bard rardote ramplingtosh beringe.. frest!
  </div>
  <%= tag.br %>
<% end %>
