<section id="homepage">
  <section id="introduction">
    <section>
      Ways We Enjoy Magic Cards is a helpful overview of a popular game that is both addictive and innocent, and can be dissected on so many levels that the debates almost never end.
    </section>
  
    <section>
      It shows dozens of ways to enjoy Magic's culture (many are free, most are affordable).  While explaining some of the appeal, it hints at how to join in.
    </section>
  </section>
  <%= wwemc_purchase %>
  <section id="license">
    <section>
      $2 gets you the book and sends it to (up to) four friends.  You'll all have lifetime access to our weekly updates.
    </section>
  
    <section>
      Since not everyone can make purchases online, we make one <%= link_to 'chapter', free_book_chapters_path(Book.featured) %> available every day.
    </section>
  </section>
  <%= wwemc_purchase %>
  <section id="explanation">
    <section>
      Magic: The Gathering was first played 25 years ago.  It rapidly spread and developed and, after a couple big ups and downs, it has surged to a new peak.  There are millions of players in the US and millions more globally.
    </section>
  
    <section>
      Magic is not one game, but a framework for various formats, each of which creates different trends and challenges.  Ways We Enjoy Magic Cards will help you and your loved ones find the formats that are the most fun for every occasion.
    </section>
  </section>
  <%= wwemc_purchase %>
</section>
