<section class="policy">
  <section class="privacy">
    <header>
      Ways We Mage - Privacy Policy
    </header>
    
    <section>
      We respect your privacy.  We appreciate any information you choose to share with us, and we intend to use it solely in ways that you approve of.
    </section>

    <section>
      In general, we do not collect information beyond that which you use to identify yourself.  Any identity you establish here is composed of things you create, not details we harvest from the world.  In some situations that we consider convenient for you, we receive data from services like Facebook to facilitate logins and sharing.
    </section>

    <section>
      We use cookies, just like any site that allows users to log in.  The cookies are a system that helps maintain your experience and save you time, while also bringing you the most useful content.  Cookies are also used by Google, which is a system we integrate to harvest anonymous details about how our site is used.
    </section>

    <section>
      It is important to note that many of the pages on Ways We Mage contain links to external sites.  These sites are all owned by different people and companies, and they will each have their own policy.  Things linked here are endorsed, and we expect them to be safe experiences, but because of the nature of the Internet, that level of safety cannot be guaranteed.  If you experience a problem, you may let us know so that we can remove the link and address it.
    </section>

    <section>
      We have no plans to share data with anyone, and if that plan changes, you will be notified.
    </section>
  </section>
</section>
