<section id="homepage">
	<h2>Rank My Jank</h2>
	<h3>Monday December 11th at The Graham, 151 Meserole, starting at 8:30</h3>
	<h4><a href="https://www.facebook.com/events/1434565730819450/" target="_blank">RSVP on Facebook</a>
  <section>
    <section>
      Rank My Jank is an event that aims to cater to both experienced players and beginners.  By focusing on lower-power Standard cards and strategies, we believe that more affordable and interesting cards can be used, and the matches will be fun, unpredictable and a little silly.
    </section>
  
    <section>
      Magic players always have many, many cards that they never get to use, and we want to see how much fun it can be to use those.  We will have cards available to help make decks for our guests, and since these cards are quite easy to come by, these decks will probably only cost a few bucks plus a tip.  We can also provide sleeves and a box for your new deck, or simply loan out our house decks.
    </section>
  </section>

  <section>
    <section>
      The Graham is a beautiful steadfast tavern with great beers and bartenders, wonderful food, and a nice variety of accomodations to sit and relax.  Early in the night we'll broadcast a 'feature match' to a screen in the front room, and seeing the game played and hearing it described will ease the process of learning how to do the same.
    </section>
  
    <section>
      Magic has a lot of rules but much of the time, there are only a few that are relevant.  Cheat sheets will provide reminders on how to proceed, and your opponent will almost certainly help when you feel stuck.  Learning to play Magic can often be done in a single session, and we are doing a whole lot to ensure that this will be possible if desired.  Unlike most Standard events, there is no entry fee and no prize for winning, so the only goal is to have fun.
    </section>
  </section>

  <section>
    <section>
      The truth is, Standard events are not thriving right now.  Traditionally the most popular form of Magic, it has arguably become the least popular one this year.  There are a few reasons for this, but they mainly boil down to it not being as interesting and fun as it should be.  The approach at Rank My Jank of using more unusual cards that require more circumstances to become amazing is a solid strategy for correcting this.
    </section>
  
    <section>
      At a typical public event, you couldn't achieve those circumstances because your team would be getting blown up too fast.  But building out a significant board state is a central treat of Commander - the most popular Magic format.  Players helping one another get the rules and cards right, while not caring who wins, and using their chosen niche cards to massive effect, are great to experience.  Jank Standard could just emulate those strengths without some of the expert rules and endless variety of unfamiliar cards that Commander provides.
    </section>
  </section>

  <section>
    <section>
      To spur your inspiration for your next jank deck, we'll give you a free rare card with every drink.  Most of these will not be valuable cards, but they will beckon you to attempt creating a certain context where they may shine.
    </section>
  
    <section>
      We'll also have some booster packs that will need to be added to our deckbuilding library.  Instead of playing matches, some guests will get to crack open these packs, admire the cards inside, and help sort them by color and type.
    </section>
  </section>

  <section>
    <section>
      To make this event a monthly success, we will truly need support from both players who know the rules and cards well, and curious self-starters who have not yet taken the plunge into this type of gaming.
    </section>
  
    <section>
      A nice bonus is that every game designer loves Magic, and familiarity with these patterns and mechanics will give you an entree into a burgeoning group of delightful games that are enjoying success and building depth.
    </section>
  </section>
	
  <section>
    <section>
      Some Magic cards are incredibly expensive, and the game is frequently thought to be an expensive hobby; but at the same time, the publisher has gotten better at making most packs and products deliver cards which actually have a resale value that's not far off from the buy-in.
    </section>
  
    <section>
      If you buy a box of 500 cards for $105, you will usually get cards that are worth $85 or more, and while selling them would take a lot of work and postage, there are also ways to trade them for great cards that tickle your fancy.
    </section>
  </section>
	
  <section>
    <section>
			And, playing on your phone, iPad or computer is mostly free.  Local tournaments cost less than a dinner, and you often leave with a handful of new stuff.
    </section>
  
    <section>
			But besides just being a hell of a lot of fun, and a great way to connect with dozens and dozens of new friends, Magic can definitely teach you a wealth of skills and perspectives.  From time to time there will be rules and decks that you don't like, but they rarely actually 'break' the game and its fairness - the unavoidable equalizers that push you to learn from each new mistake.  This year, of course, they did break it, which is why the new way forward for Standard may have to be RANK MY JANK!
	  </section>
	</section>

</section>
<% content_for :open_graph do %>
  <%= open_graph_tags %>
<% end %>
