.book.editing {
  
  textarea {
    width: 400px;
    height: 100px;
  }
  
  .controls {
    float: right;
    font-size: 0.8em;
  }
  
  .focus_tool {
    display: inline-block;
    img {
      width: 13px;
    }
  }
}

.div_with_data {
  border: 1px solid black;
  padding: 5px;
}

.paragraph.div_with_data {
  font-family: "Josefin Sans";
  font-size: 1.2em;
  line-height: 1.45em;
  border: none;
  padding: 5px 46px;
}

.bookshelf_display_of_book {
  margin: 15%;
  font-size: 1.5em;
  font-family: Cabin;
  
  .title_of_book {
    font-size: 1.6em;
  }
  
  .chapter_count_of_book {
    font-size: 0.6em;
    float: right;
  }
  
  .actions_with_book {
    margin-top: 60px;
    font-size: 0.8em;
    
    a.begin_reading_link {
      color: #2A4098;
    }
  
    a.book_purchase_link {
      color: #37786F;
      float: right;
    }
  }
}

.book_title {
  margin-left: 5%;
  padding-top: 25px;
  font-weight: bold;
  font-family: Josefin Sans;
  font-size: 2em;
}

.book_author {
  margin-left: 7%;
  font-family: Josefin Sans;
  font-size: 1.3em;
}

.syllabus {
  .div_with_data {
    border: none;
  }
  
  .edition {
    text-align: center;
    font-family: Noto Sans;
    font-size: 0.8em;
  }
  
  .chapter_title {
    font-size: 1.3em;
    font-family: Anton;
    margin-top: 10px;
    margin-left: 6%;
  }
  
  .section {
    padding: 0;
  }
  
  .section_heading {
    padding: 2px;
    margin-left: 8%;
  }
  
  .section_subheading {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 0.9em;
    font-style: italic;
  }
}
