.focus_tool {
  display: inline-block;
  img {
    width: 13px;
  }
}

.div_with_data {
  border: 1px solid black;
  padding: 5px;
}

.paragraph.div_with_data {
  font-family: "Josefin Sans";
  font-size: 1.2em;
  line-height: 1.45em;
  border: none;
  padding: 5px 46px;
}

.bookshelf_display_of_book {
  margin: 15%;
  font-size: 1.5em;
  font-family: Helvetica;
  
  .chapter_count_of_book {
    font-size: 0.6em;
    float: right;
  }
  
  
  
  .actions_with_book {
    margin-top: 60px;
    font-size: 0.8em;
    
    a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    a.begin_reading_link {
      color: #2A4098;
    }
  
    a.book_purchase_link {
      color: #37786F;
      float: right;
    }
  }
}