.read_by_chapter {
  
  .previous_chapter, .next_chapter {
    font-family: Noto Sans;
    font-size: 0.7em;
  }
  
  .next_chapter {
    float: right;
  }
  
  .chapter_title {
    text-align: center;
    font-family: Anton;
    font-size: 2.2em;
  }
  
  .chapter_subtitle {
    text-align: center;
    font-family: Dosis;
  }
  
  .section_heading {
    margin-left: 25%;
    width: 50%;
    font-family: Dosis;
    font-size: 1.25em;
  }
  
  .section_subheading {
    margin-left: 17%;
    width: 66%;
    font-family: Dosis;
  }
  
  .div_with_data.section {
    border: none;
  }
}
