.read_by_chapter {
  
  .chapter_title {
    text-align: center;
    font-family: Anton;
    font-size: 2.2em;
  }
  
  .chapter_subtitle {
    text-align: center;
    font-family: Dosis;
  }
  
  .div_with_data.section {
    border: none;
  }
}
