#logo_holder {
  text-align: center;
  clear: both;
}

#site_logo {
  width: 60%;
  
  &:hover {
    background-color: #881D98;
  }
}

.bookshelf {
  font-family: Cinzel;
  padding: 5px;
}

.footer_links {
  margin: 4% 18%;
  font-family: Cinzel;
  text-align: center;
  
  a {
    margin: 6%;
  }
}
