#logo_holder {
  text-align: center;
  clear: both;
}

#site_logo {
  width: 60%;
  
  &:hover {
    background-color: #881D98;
  }
}

#bookshelf {
  font-family: Cinzel;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  };
}
