#logo_holder {
  text-align: center;
  clear: both;
  
  #site_subtitle {
    font-family: Cabin;
    font-size: 1.3em;
  }
  
  #site_title {
    display: inline-block;
    width: 60%;
    -webkit-clip-path: polygon( 6% 0%, 94% 0%, 100% 50%, 94% 100%, 6% 100%, 0% 50% );
    
    #site_logo {
      width: 100%;
      transition: background-color 4s;
      border-radius: 10px;
  
      &:hover {
        background-color: #ED88F3;
      }
    }
  }
}

.pagination {
  text-align: center;
  font-family: Noto Sans;
}

.footer_links, .header_links {
  margin: 4% 18%;
  font-family: Cinzel;
  text-align: center;
  
  a {
    margin: 6%;
  }
}
