#homepage {
  font-family: 'Noto Sans';
  font-size: 2.1em;
  
  section {
    padding: 0px 18px 12px 4px;
    margin: 38px;
    box-shadow: 5px 10px 14px 2px #ED88F3;
    border-radius: 9px;
    
    section {
      background-color: #D5F3FE;
      -webkit-clip-path: polygon( 6% 0%, 94% 0%, 100% 50%, 94% 100%, 6% 100%, 0% 50% );
      display: inline-block;
      width: 80%;
      margin: 20px;
      padding: 10px 8% 12px 8%;
    }
    
    section:last-child {
      text-align: right;
      font-size: 0.8em;
    }
  }
  
  form {
    text-align: center;
  }
}

#list_faq {
  font-family: 'Noto Sans';
  
  section {
    font-size: 1.4em;
    
    question {
      display: block;
      margin-bottom: 1.5em;
      
      answer {
        text-align: right;
        display: block;
        margin-top: 0.5em;
      }
    }
  }
}

.policy {
  font-family: 'Noto Sans';
  
  .privacy {
    header {
      font-size: 1.4em;
      text-align: center;
    }
    
    section {
      padding: 2em;
    }
  }
}
