#facebook_login, #password_login {
  position: absolute;
  right: 30px;
  font-family: 'Cabin';
}

#facebook_login {
  top: 5px;
}

#password_login {
  top: 25px;
}

#lot_out {
  position: absolute;
  top: 40px;
  right: 30px;
  font-family: Cabin;
}

#login_form {
  text-align: center;
  font-family: Cabin;
  
  form {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
}
