// Place all the styles related to the muggles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inviting {
  font-family: Anton;
  font-size: 1.25em;
}

#muggle_form {
  text-align: center;
}

#lot_out {
  float: right;
}
