.inviting {
  font-family: Anton;
  font-size: 1.25em;
  
  .licensing_discussion {
    margin: 50px 30px;
    font-family: 'Noto Sans';
  }
}

#muggle_form {
  text-align: center;
}

.muggle {
  padding: 5px;
}
