<p>
  Ways We Mage allows people to suggest additions to your lists.  Someone has suggested an addition to your list, <%= @list.name %>.
</p>

<p>
  It's technically possible to put dirty words, etc, into these suggestions, so I've chosen not to email them out in detail.  To review the suggestions, view the list: <%= link_to @list.name, list_url(@list, :auth_token => @magician.authentication_token) %>
</p>

<p>
  You can approve or reject the suggestion.  If approved, it will be visible to magicians and muggles who are signed in, and then once I review it, the item can become public.
</p>

<p>
  I think it's fun to maintain these lists for the benefit of others who want to learn.  Thanks for doing this with me.  Your input is always welcome.
</p>

<p>
  -Mike
</p>
