<p>News for you, <%= @email %>!</p>

<p>You have been given the e-book, Ways We Enjoy Magic Cards, as a gift.</p>

<p>A pdf of this book is on its way to you in another email.  And, your license to the book allows you to download updated versions as they are released each Wednesday.</p>

<p>In order to access those updates, we've created you an account, which uses this email address and the password: <%= @resource.password %>.  You can change this password through a typical reset password process, and you can also access the site using Facebook so you don't need to set a secure password.</p>

<p>You can confirm your account email using this link:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
